<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body id="{{ session.key.id }}">

<div class = "container">
<!-- start of container -->

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">SPOT</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/sessions">Sessions</a></li>
                <li><a href="/session/new">New Session</a></li>
                <li><a href="/interactions">Interactions</a></li>
            </ul>
        </div>
    </div>

    {% if session %}
    <table width="940">
        <tr>
            <td align="left"><h3>Session: {{ session.observee }} &nbsp;&nbsp;&nbsp;</h3></td>
            <td align="right"><h3 id = "startTime"></h3></td>
        </tr>
    </table>
    {% endif %}
    
    <table align="center">
    	<tr style="float:left;">
		<td align = "left"><p>Estimated number of students:&nbsp;</p></td>
		<td align = "left"><textarea style="width: 30px; height: 20px;" id="numberofstudents"></textarea></td>
	</tr>
	    	<div align="center" style="margin-bottom: 20px;">
	        	<button type="button" id="endSessionBtn" class="btn btn-primary">End Session</button>
	    	</div>
    </table>

    <div class="well"  id="modes">
    <h4 align = "center">Class mode</h4>
    <table align="center" width = "850">
    <tr>
    <td align = "center"><button class="btn btn-medium btn-black" modeId="wg" id="wg">Whole class</button><td>
	<td align = "center"><button class="btn btn-medium btn-primary" modeId="sg" id="sg">Small group/Pairs</button><td>
	<td align = "center"><button class="btn btn-medium btn-primary" modeId="i" id="i">Individual</button><td>
    </tr>
    <tr>
	<td align = "center"><b>Teacher in charge <br> of instruction</b><td>
	<td align = "center"><b>Students working in <br> groups of 2-10</b><td>
	<td align = "center"><b><br>Students working <br> independent of <br> teacher or peers</b><td>
    </tr>
    </table>
    </div>

{% if students %}
<div class="well">
<table width="900" align="center">

<tr>

<td>
<div id = "logger" class="well" style="width: 315px;">    
<div id="comment" align="left">
    <form>
	<div style="width: 350px; height: 150px;">
	<h4>Session log</h4>
	<textarea style="width: 300px; height: 90px;" id="commentId"></textarea>
	</div>
    </form>
</div>
<div id="addNote" align="left">
    <form>
	<div style="width: 350px; height: 150px;">
	<h4>Note Log</h4>
	<textarea style="width: 300px; height: 90px;" id="note"></textarea>
	<table>
	<tr>
	<td><textarea style="width: 200px; height: 25px;" id="enternote"></textarea></td>
	<td valign="baseline"><button type="button" id="submitNote" class="btn btn-primary">submit note</button></td>
	</tr>
	</table>
	</div>
    </form>
</div>
</div>

</td>

<td valign="top">
<div id="teacheractions">
<div align = "center">
<h4>Teacher Actions</h4>
<table width = "175">
<tr>
<td></br></td>
</tr>

{% for interaction in interactions %}
    {% if interaction.items %}
        {% for item in interaction.items %}
            {% if item.parent.name == "Teacher Actions" %}
            <tr>
                <td align = "center"><button class="btn btn-small {{item.color}}" btnClass="{{item.color}}" groupId="{{interaction.group.key.id}}" itemId="{{item.key.id}}" int_name = "{{ item.name }}" grp_name ="{{ interaction.group.name }}" id="Teacher" style="width: 150px;">{{ item.name }}</button></td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</table>
</div>
</div>
</td>
<td valign="top">
<div style="float:right; width: 325px;" >
    <div id = "gridheader"> 
    <h4 style="float:left;">Student actions</h4>
    <table style="float:right;">
    {% for interaction in interactions %}
        {% if interaction.items %}
            {% for item in interaction.items %}
                {% if item.name == "Shout out" or item.name == "Choral response" or item.name == "Informal assessment (clickers)" or item.name == "Observing phenomenon/ video"%}
                    <tr>
                        <td><button class="btn btn-small {{item.color}}" btnClass = "{{item.color}}" groupId="{{interaction.group.key.id}}" itemId="{{item.key.id}}" int_name = "{{ item.name }}" grp_name ="{{ interaction.group.name }}" style="width: 120px;">{{ item.name }}</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </table>  
    </div> 
    
    <table align = "center" bgcolor="#FFFFFF" id="actorgrid">
    {% for row in students %}
        <tr width ="330">
        {% for student in row %}
            <td>
<div class="dropdown">
<button class="btn btn-small dropdown-toggle" id = "{{student}}" data-toggle="dropdown" style="width: 32px;">&nbsp;</button>
  <ul class="dropdown-menu" role="menu" align="center">

  {% for interaction in interactions %}
    {% if interaction.items %}
        {% for item in interaction.items %}
           {% if item.name != "Choral response" and item.name != "Shout out" %}
				{% if interaction.group.name == "Whole Group" %} 
				<li class = "wg">
            	<button class="btn btn-small {{item.color}} interaction" btnClass = "{{item.color}}" groupId="{{interaction.group.key.id}}" itemId="{{item.key.id}}" int_name = "{{ item.name }}" grp_name ="{{ interaction.group.name }}" style="width: 150px;">{{ item.name }}</button>
				</li>
				{% endif %}
				{% if interaction.group.name == "Individual" %} 
				<li class = "i">
            	<button class="btn btn-small {{item.color}} interaction" btnClass = "{{item.color}}" groupId="{{interaction.group.key.id}}" itemId="{{item.key.id}}" int_name = "{{ item.name }}" grp_name ="{{ interaction.group.name }}" style="width: 150px;">{{ item.name }}</button>
				</li>
				{% endif %}	
				{% if interaction.group.name == "Small group/ pairs" %} 
				<li class = "sg">
            	<button class="btn btn-small {{item.color}} interaction" btnClass = "{{item.color}}" groupId="{{interaction.group.key.id}}" itemId="{{item.key.id}}" int_name = "{{ item.name }}" grp_name ="{{ interaction.group.name }}" style="width: 150px;">{{ item.name }}</button>
				</li>
				{% endif %}			
           {% endif %}
        {% endfor %}
    {% endif %}
  {% endfor %}

  </ul>
</div>
			</td>
        {% endfor %}
        </tr>
    {% endfor %}

    {% for interaction in interactions %}
        {% if interaction.items %}
            {% for item in interaction.items %}
                {% if interaction.group.name == "Individual"%}
                    <tr style="display:none;" class="gridreplacement">
                        <td><button class="btn btn-small {{item.color}} interaction" btnClass = "{{item.color}}" groupId="{{interaction.group.key.id}}" itemId="{{item.key.id}}" int_name = "{{ item.name }}" grp_name ="{{ interaction.group.name }}" id="Whole class" style="width: 120px;">{{ item.name }}</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </table>

</div> 
</td>
{% endif %}
</tr>
</table>
</div>

</div>


<!--Modals (pop ups) belong here-->
<div class="modal fade" id="session_start">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Getting started...</h3>
  </div>
  <div class="modal-body">
  <p>Remember to estimate the number of students present at sometime during your observation</b></p>
  </div>
</div>

<div class="modal fade" id="session_end">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
	<h3> Whoops! </h3>
  </div>
  <div class="modal-body">

<!--  	<p>You have chosen not to enter the number of students present, this will invalidate certain data output. If you'd like to enter-->
<!--the estimated number of students present, write the number in the box below.</p>-->

		<div style="float: left;">
			<b>Estimated number of students: <textarea style="width: 30px; height: 20px;" id="numberofstudents_finalchoice"></textarea></b>
		</div>
	</br>
	</br>
	<button class = "btn btn-primary" id="gotorecords" align="left">Submit</button>
	<button class = "btn btn-primary" id="nothanksproceed" align="left">I do not want to enter a number</button>
   </div>
</div>

<div class="modal fade" id="session_end_update">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
  </div>
  <div class="modal-body">
  <p>If the estimated number of students has changed significantly, please update</p>
 
<div style="float: left;">
<b>Estimated number of students: <textarea style="width: 30px; height: 20px;" id="numberofstudents_update"></textarea></b>
</div>
</br>
</br>
<button class = "btn btn-primary" id="updategotorecords" align="left">Submit</button>
<button class = "btn btn-primary" id="noupdate" align="left">I do not want to change the number</button>
</div>
</div>

</div>
<!-- end of container -->

</body>
<script type="text/javascript">
    $('document').ready(function() {
	
	// get session Id
    var sessionId = $('body').attr('id');

	// initialize textbox area for notes/log
	var textbox = ''; // var for session log
	var textboxNotes = ''; // var for notes log
	var textArea = $('#commentId');
	var textAreaNotes = $('#note');
    
    // Display alert on session start to prompt user to select a class mode
    $('#session_start').modal('show');
    
    // Create the dictionary to store student counts, this is a copy of the one actually stored in the database. This is made to display counts on the buttons.
    var sessioncounts = {};
    
	// Create session start time
	var date = new Date();
    var year = date.getFullYear()
    var day = date.getDate()
    var month = date.getMonth() + 1
	var hours = date.getHours()
	var minutes = date.getMinutes()
    if(minutes <=9){
        minutes = '0'+minutes };
    if(hours > 12){
        hours = hours - 12;
	    var time = month+'/'+day+'/'+year+' '+hours+":"+minutes+" pm";
    }else if (hours == 12){
        var time = month+'/'+day+'/'+year+' '+hours+":"+minutes+" pm";
    }else{
        var time = month+'/'+day+'/'+year+' '+hours+":"+minutes+" am";
    };
    document.getElementById("startTime").innerHTML=time;

    // Class starts in whole class mode
    mode = 'wg';
    actor = 'NA';
    
        // This code toggles interaction buttons (so you only see mode-specific interactions in pop up window)
        $('#actorgrid .dropdown-toggle').click(function() {
            var $this = $(this);
            //$(this).addClass('btn-black');
            actor = $this.attr('id'); 
  
            if(mode == 'wg'){
                $('.wg').each(function() {
				    $(this).show();             
                });
                $('.sg').each(function() {
				    $(this).hide();             
                });
                $('.i').each(function() {
				    $(this).hide();             
                });   
            }else if(mode=='i'){
                $('.wg').each(function() {
				    $(this).hide();             
                });
                $('.sg').each(function() {
				    $(this).hide();             
                });
                $('.i').each(function() {
				    $(this).show();             
                });           
            }else if(mode=='sg'){
                $('.wg').each(function() {
				    $(this).hide();             
                });
                $('.sg').each(function() {
				    $(this).show();             
                });
                $('.i').each(function() {
				    $(this).hide();             
                });           
            }
        }); 

        // Mode switches
        $('#modes .btn').click(function() {

	    // Get date, create time variable
	    var date = new Date();
	    var hours = date.getHours()
	    var minutes = date.getMinutes()
	    var seconds = date.getSeconds()
	    var time = hours+":"+minutes+":"+seconds

        var $this = $(this);
        var modeId = $this.attr('modeId');
		// set mode variable
        mode = modeId;
        if($this.hasClass('btn-primary')) {  

			// disable grid if mode is small group, replace grid if not already there, hide individual interaction buttons if still there
            if(modeId == 'sg') {

				textbox += time+':'+'Small groups/pairs'+'\n'
				$('#commentId').val(textbox);
				textArea.scrollTop( textArea[0].scrollHeight - textArea.height()   );

				$('.dropdown-toggle').show();
				$('.gridreplacement').hide();
				$('.dropdown-toggle').prop('disabled', true);
			} else {
				$('.dropdown-toggle').prop('disabled', false);
			}
			// replace grid with interaction buttons if mode is individual
            if(modeId == 'i') {
				actor = "Whole class";
				$('.gridreplacement').show();
				$('.dropdown-toggle').hide();
			}
            if(modeId == 'wg') {
				$('.gridreplacement').hide();
				$('.dropdown-toggle').show();
			}

        $('#modes .btn-black').each(function() {
            var $this = $(this);
            $this.removeClass('btn-black').addClass('btn-primary');
        });    
            $this.removeClass('btn-primary').addClass('btn-black');

        }

        });	
        
        $('#actorgrid .interaction, #gridheader .btn, #teacheractions .btn').click(function() {
        var $this = $(this);
		
	    // Get date, create time variable
	    var date = new Date();
	    var hours = date.getHours()
	    var minutes = date.getMinutes()
	    var seconds = date.getSeconds()
	    var time = hours+":"+minutes+":"+seconds
	    
	    // Get button ID's 
        var groupId = $this.attr('groupId');
        var itemId = $this.attr('itemId');
	    var int_name = $this.attr('int_name');
	    var grp_name = $this.attr('grp_name');
	    var btnClass = $this.attr('btnClass');
	    
		// hashtable for printing mode variable names
		var modeNameMap = {}
		modeNameMap['wg'] = 'Whole Class';
		modeNameMap['sg'] = 'Small Group/Pairs';
		modeNameMap['i'] = 'Individual'

		// add next session log entry, scroll to bottom of box
        if(grp_name == 'Teacher Actions'){
		actor = $this.attr('id');
		textbox += time+':'+'Teacher'+'-'+modeNameMap[mode]+'-'+int_name+'\n'
        }
        else if(int_name == 'Choral response') {
		actor = 'Students';
        textbox += time+':'+'Students'+'-'+modeNameMap[mode]+'-'+int_name+'\n'
        }
        else if(int_name == 'Shout out') {
		actor = 'Students';
        textbox += time+':'+'Students'+'-'+modeNameMap[mode]+'-'+int_name+'\n'
        } 
        else if(int_name == 'Informal assessment (clickers)') {
		actor = 'Students';
        textbox += time+':'+'Students'+'-'+modeNameMap[mode]+'-'+int_name+'\n'
        }   
        else if(int_name == 'Observing phenomenon/ video') {
		actor = 'Students';
        textbox += time+':'+'Students'+'-'+modeNameMap[mode]+'-'+int_name+'\n'
        }      
        else {
        textbox += time+':'+actor+'-'+modeNameMap[mode]+'-'+int_name+'\n'
        }
		$('#commentId').val(textbox);
		textArea.scrollTop( textArea[0].scrollHeight - textArea.height()   );	               
                
		// Un-select any active buttons (w/ btn-black class)
        $('#actorgrid .btn-black, #gridheader .btn-black, #teacheractions .btn-black').each(function() {
			// if statement makes sure student buttons stay black
			if(!$(this).hasClass('dropdown-toggle')) {
            	var oldbtnClass = $(this).attr('btnClass');
            	$(this).removeClass('btn-black').addClass(oldbtnClass);
			}
        });          
        
		// This block of code should only execute for 'student' actors
		if (actor.split(' ')[0] == 'Student') {
			// Change student button to black once an interaction is clicked
			$(document.getElementById(actor)).addClass('btn-black');  
 
        	// Store counts in the dictionary
        	if (actor in sessioncounts){
            	sessioncounts[actor] += 1;
        	document.getElementById(actor).innerHTML=sessioncounts[actor];    
        	} else {
            	sessioncounts[actor] = 1;
        	document.getElementById(actor).innerHTML=sessioncounts[actor];
        	}
        	// Send the actor (student id) to the count handler (stores counts in dict)
        	$.ajax({
            	url: "/session/count/" + sessionId,
            	type: "POST",
            	data: { "actor": actor},
            	dataType: "json"
        	});

		}

        // activate record
        $.ajax({
            url: "/session/record/" + sessionId,
            type: "POST",
            data: {"groupId": groupId, "itemId": itemId, "actor": actor, "mode":mode, "color":btnClass},
            dataType: "json"
            });
            
        // Change button to black when clicked (btn-black class)  
        $this.removeClass(btnClass).addClass('btn-black');
        $this.removeClass('btn-success').addClass('btn-black');
        });


        $('#endSessionBtn').click(function() {
            var numstud = $('#numberofstudents').val();
			if(numstud == ''){
				$('#session_end').modal('show');
				var numstud = $('#numberofstudents_finalchoice').val();
			} else if (numstud != '') {
				$('#session_end_update').modal('show');
				var numstud = $('#numberofstudents_update').val();
			}
            // stop sessions 
			$('#gotorecords, #nothanksproceed, #updategotorecords, #noupdate').click(function() {
            	$.ajax({
                	url: "/session/stop/" + sessionId,
                	type: "POST",
                	data: { "numstud": numstud},
                	dataType: "json"
            	}).done(function(data) {
                	window.location.href = "/session/records/" + sessionId;
            	});
			});
        });
		$('#enternote').keypress(function(event){
    		if(event.keyCode == 13){
        		event.preventDefault();
        		$('#submitNote').click();
    		}
		});	

        $('#submitNote').click(function() {
	    var note = $('#enternote').val();
	    // Get date, create time variable
	    var date = new Date();
	    var hours = date.getHours()
	    var minutes = date.getMinutes()
	    var seconds = date.getSeconds()
	    var time = hours+":"+minutes+":"+seconds

		// add next session log entry, scroll to bottom of box (disabled as of 9.26.14)
		textboxNotes += time+':'+' '+note+'\n'
		$("#note").val(textboxNotes);
		textAreaNotes.scrollTop( textAreaNotes[0].scrollHeight - textAreaNotes.height()   );        
        
        
            $.ajax({
                url: "/session/submit/" + sessionId,
                type: "POST",
                data: {"note": note, "time": time},
                dataType: "json"
            }).done(function(data) {
                $("#enternote").val(''); 
            });
        });
	
    });
</script>
</html>
